/* BEM準拠に変更したCSS */

:root {
  --header-height: 80px;
  --works-height: 200px;
  --skill-height: 218px;
  --base-color: #584C45;
  --base-font-color: #F0E7D7;
  --main-color: #323232;
  --background-color: #F4F0E8;

  --en-font: "Cormorant Garamond", serif;
  --jp-font: "Shippori Mincho", serif;
  --en-font-2: "Playfair Display", serif;
  --jp-font-2: "Noto Serif JP", serif;
}

html, body {
  overflow-x: hidden;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

/* ===== HEADER / MENU ===== */
.menu {
  max-width: 100vw;
  height: var(--header-height);
  padding: 30px 40px 0 0;
  margin: 0 auto;
  background-color: var(--base-color);
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.menu__item a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--base-font-color);
}

.menu__label--en {
  font-size: 20px;
  padding-top: 5px;
  font-family: var(--en-font);
}

.menu__label--jp {
  font-size: 10px;
  font-family: var(--jp-font);
}

/* ===== HERO ===== */
.hero__background {
  position: relative;
  height: calc(100vh - var(--header-height));
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  opacity: 0.4;
}

.hero__title {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-color);
}

.hero__welcome {
  font-size: 2rem;
  font-family: var(--en-font-2);
}

.hero__main-title {
  font-size: 3rem;
  font-family: var(--en-font-2);
  user-select: none;
}

.hero__sub-message {
  font-size: 1rem;
  font-family: var(--jp-font-2);
}

/* ===== WORKS ===== */
.works {
  height: 100vh;
  background-color: var(--background-color);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.works__title {
  height: var(--works-height);
  text-align: center;
  padding: 30px 0;
  cursor: default;
  user-select: none;
}

.works__title--en {
  font-size: 7rem;
  color: #FFF;
  opacity: 0.5;
  font-family: var(--en-font-2);
  display: block;
}

.works__title--jp {
  font-size: 15px;
  font-family: var(--jp-font-2);
  position: absolute;
  left: 60%;
  top: 55%;
  white-space: nowrap;
  letter-spacing: 0.1em;
}

.works__area {
  width: 80%;
  margin: 0 auto;
}

.works__slider {
  display: flex;
  gap: 20px;
  padding: 50px 0 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline-start: calc((100% - 300px) / 2);
}

.works__card {
  width: 300px;
  height: 500px;
  background-color: #FFF;
  flex: 0 0 45%;
  scroll-snap-align: center;
  padding-bottom: 2rem;
  border: 1px solid var(--base-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ===== SKILL ===== */
.skill {
  min-height: 100vh;
  background-color: var(--background-color);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.skill__title {
  height: var(--skill-height);
  cursor: default;
  user-select: none;
  z-index: -999;
}

.skill__title--en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-family: var(--en-font-2);
  writing-mode: vertical-rl;
}

.skill__title--jp {
  font-family: var(--jp-font-2);
  position: absolute;
  left: 60%;
  top: 20%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.skill__area {
  width: 80%;
  display: flex;
  gap: 30px;
  margin: -50px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.skill__card {
  width: 30%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px auto;
}

.skill__icon {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  text-align: center;
  color: #222;
}

.skill__experience {
  grid-column: 2;
  grid-row: 1;
  font-family: var(--jp-font-2);
  font-size: 14px;
  align-self: center;
  color: #555;
}

.skill__description {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-family: var(--jp-font-2);
  font-size: 12px;
  line-height: 1.7;
  color: #444;
}

/* ===== CONTACT ===== */
.contact {
  height: 100vh;
  background-image: url(./images/Frame\ 4.svg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.contact__title {
  text-align: right;
  height: var(--skill-height);
  z-index: -999;
  cursor: default;
  user-select: none;
}

.contact__title--en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-family: var(--en-font-2);
  writing-mode: vertical-rl;
}

.contact__title--jp {
  font-family: var(--jp-font-2);
  position: absolute;
  right: 60%;
  top: 20%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

/* ===== FOOTER ===== */
.footer {
  height: 30vh;
  background-color: var(--base-color);
}

.footer__menu {
  display: flex;
  gap: 30px;
  padding: 80px 0 0 40px;
}

.footer__item {
  font-family: var(--en-font);
  font-size: 20px;
  color: var(--base-font-color);
}

.footer__copyright {
  padding-left: 40px;
  display: block;
  margin-top: 80px;
  font-family: var(--en-font);
}
