@charset "UTF-8";

/* ===============================
    共通設定                  
=============================== */

:root {
  --headerheight: 80px;
  --worksheight: 200px;
  --skillheight: 218px;
  --basecolor: #000000;
  --basefontcolor: #F0E7D7;
  --maincolor: #333333;
  --backgroundcolor: #F4F0E8;

  --enfont: "Cormorant Garamond", serif;
  --jpfont: "Shippori Mincho", serif;

  --enfont-2: "Playfair Display", serif;
  --jpfont-2: "Noto Serif JP", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  background-color: var(--backgroundcolor);
}

.works, .about {
  max-width:1440px;
  width:100%;
  height:auto;
  margin: 0 auto;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background: var(--basefontcolor);
  transition: width 0.3s ease;
}

a:hover {
  opacity: 0.8;;
}

a:hover::after {
  width: 100%;
}





/* ===============================
    header area                  
=============================== */
/* header all */
header {
  max-width:100vw;
  height: var(--headerheight);
  padding-right: 40px;
  align-items: center;
  margin:0 auto;
  background-color: var(--basecolor);
  display: grid;
  align-items: center;
}

/* header nav ul */
.header__menu ul {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:30px;
}

/* header nav li a */
.header__menu li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--basefontcolor);
}

/* header nav en */
.header__menu-text--en {
  font-size: 20px;
  padding-top:5px;
  font-family: var(--enfont);
}

/* header nav jp */
.header__menu-text--jp {
  font-size: 10px;
  font-family: var(--jpfont);
}


/* ===============================
    hero area                  
=============================== */

.hero {
  position: relative;
}

/* hero background */
.hero__background {
  display: grid;
  align-items: center;
  height: calc(100svh - var(--headerheight));
}

/* hero background image */
.hero__image {
  width:100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  inset: 0;
  opacity: 0.4;
  z-index: -999;
}

/* hero title */
.hero__title {
  position:relative;
  z-index: 999;
  text-align: center;
  color: var(--maincolor);
}

/* hero title main --PORTFOLIO-- */
.hero__title-main {
  font-size: 6rem;
  user-select:none;
  font-family: "Caveat", cursive;
  animation: fadeIn 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* hero title sub --あなたの想いを、輪郭に-- */
.hero__message-sub {
  font-size: 1rem;
  font-family: var(--jpfont-2);
  animation: fadeIn 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  animation-delay: 0.5s;
}

/* ===============================
    scroll area                  
=============================== */
/* scroll all */
.scroll {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  gap: 5px;
}

/* scroll bar */
.scroll__bar {
  border: 1px #000 solid;
  width: 1px;
  height: 50px;
  margin: 0 auto;
  animation: growShrink 2s ease-out infinite; 
}

@keyframes growShrink {
  0% {
    transform-origin: top;
    transform: scale(0);
  }

  50% {
    transform-origin: top;
    transform: scale(1);
  }

  50.1% {
    transform-origin: bottom;
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    transform-origin: bottom;
  }
}

/* ===============================
    works area                  
=============================== */


/* work  */
.works {
  height: auto;
  background-color: var(--backgroundcolor);
  margin-bottom: 80px;
}

.works__title-box--en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
}

.works__title {
  height:auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: default;
  user-select: none;
}

.works__title-box {
  position: relative;
  display: inline-block;
}

.works__title-box--jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left: 60%;
  top: 55%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.works__area {
  width: 80%;
  margin: 0 auto 0;
}

.works__slider {
  display: flex;
  gap:20px;
  padding-top: 50px;
  padding-bottom:40px; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline-start: calc((100% - 300px) / 2);
}

.works__card-link {
  position: static;
}

/* works card hover */
.works__card-link:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
  opacity: 0.95;
}

/* works card all */
.works__card {
  width: 300px;
  height: 500px;
  background-color:#FFF;
  flex: 0 0 45%; /* 1枚分 */
  scroll-snap-align: center;
  padding: 2rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* works card textbox */
.works__card-text {
  padding:2rem 2rem 0;
  display: flex;
  flex-direction: column;
}

/* works card - 各種背景色指定 - */
.works__card-portfolio {
  /* portfolio */
  background-color: #d8cebf;
}

.works__card-skycoffee {
  /* skycoffee */
  background-color: #81ccd5;
}

.works__card-start {
  background-color: #c81562;
  /* start */
}

/* works card mockup image */
.works__card-image {
  width: 100%;
}

/* works card title */
.works__card-title {
  font-size: 1.3rem;
  font-family: "Playfair Display", "Noto Serif JP", serif;
  font-weight: 700;
  padding-bottom: 1rem;
  letter-spacing: 0.03rem;
}

/* works card 本文 */
.works__card-description {
  font-size: 0.9rem;
  font-family: "Noto Serif JP", "Playfair Display", serif;
  padding-bottom: 1.2rem;
  line-height: 1.3; 
  letter-spacing: 0.03rem;
}

/* works card tag all */
.works__card-tags {
  display: flex;
  flex-flow: wrap;
  gap:0.5rem;
}

/* works card tag */
.works__card-tag {
  font-family: "Noto Serif JP", "Playfair Display", serif;
  background-color: #fff;
	padding: .6em;
  font-size: 0.7rem;
  border: 1px solid #333;
	border-left: 5px solid #333;
  letter-spacing: 0.03rem;
}

/* ===============================
    skewed area                  
=============================== */

.skewed__area {
  width: 100%;
  height: 100%;
  position:absolute;
  background: #4B2E2E;
  z-index: -999;
  clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0% 100%);
  transform-origin: top right;
}


/* skill */
.skill {
  min-height: 90vh;
  position:relative;
}

.skill__area-all {
  padding: 100px 0;
}

.skill__title {
  cursor: default;
  user-select: none;
  height: var(--skillheight);
  z-index: -999;
}

.skill__title__en {
  font-size: 7rem;
  display: block;
  color: #2E1A1A;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
  writing-mode: vertical-rl;
}

.skill__title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left:60% !important;
  top: 20%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
  color:#F0E7D7;
}

.skill__title__box {
  position: relative;
  display: inline-block;
}

.skill__area {
  width:80%;
  display: flex;
  gap: 30px;
  margin:-50px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.akill__area-card {
  width:30%;
  display: grid;
  grid-template-columns: 100px 1fr;  /* 左列:固定、右列:可変 */
  grid-template-rows: 60px auto;     /* 上段:固定、下段:自動高さ */
}

.fa-brands{
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  text-align: center;
  color:#FCEBDD;
}

.fa-solid  {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  text-align: center;
  color:#FCEBDD;
}

.akill__area-reki {
  grid-column: 2;
  grid-row: 1;
  font-family: var(--jpfont-2);
  font-size: 14px;
  align-self: center;
  color:#FAFAFA;
}

.akill__area-content {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-family: var(--jpfont-2);
  font-size: 12px;
  line-height: 1.7;
  color:#EADDD3;
}

/* about */
.about {
  height: 100%;
  background-color: var(--backgroundcolor);
}

.about__title-en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
}

.about__title {
  height: auto;
  text-align: center;
  cursor: default;
  user-select: none;
  padding: 30px 0;
}

.about__title-box {
  position: relative;
  display: inline-block;
}

.about__title-jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left: 60%;
  top: 55%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}


.about__content-box {
  display: flex;
  width: 80%;
  height:auto;
  flex-direction: row;
  margin: 0 auto 150px;
  position: relative;
  gap: 50px;
}

.about__image-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shirushi::before {
  content:"★";
  font-size: 8px;
  color: #FFCC33;
  padding-right: 5px;
}

.about__content-box--love {
width:100%;
display: flex;
align-items:center;
font-size:15px;
letter-spacing:0.15em;
font-weight:600;
color:#333333;
margin-top: 70px;
padding-bottom: 10px;
font-family: var(--jpfont-2);
}

.about__content-box--love---content {
font-family: var(--jpfont-2);
font-size:13px;
}

.about__content-box--love span{
margin-left:0.5em;
margin-right:0.5em;
}
.about__content-box--love:before,
.about__content-box--love:after {
content: "";
display: block;
flex: auto;
height:1px;
border-radius:0px;
background:#aaaaaa;
}

.about__content-box--yajirushi {
  background-image: url("./images/748340-removebg-preview.png");
  background-size: cover;
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  max-width: 520px;
  text-align: center; 
  margin:18px 0;
  padding:0 18px;
  margin-inline: auto;
}

/*
.about__content---box--yajirushi::before {
  content:'';
  position: absolute;
  top: 50%;
  right: -12px;
  background: #333;
  width: 52px;
  height: 1px;
  rotate: 60deg;
  display: inline-block;
}

.about__content---box--yajirushi::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 6px;
  background: #333;
  width: 60%;
  height: 1px;
}
*/

.about__content-box--group {
  display: flex;
  gap:10px;
  text-align: center;
  padding-bottom: 5px;
}

.about__content-name--jp---myoji,
.about__content-name--jp---namae {
  font-family: var(--jpfont-2);
  color: #555;
  font-size: 13px;
}

.about__content-name--en---namae,
.about__content-name--en---namae {
  font-family: var(--enfont-2);
  font-size: 20px;
  color: #555;
}

.about__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: bottom;
}


/* -- 吹き出し -- */

.about__speechBubble {
  position: relative;
  display: inline-block;
  padding: 50px;
  background-color: #ffffff;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: var(--jpfont-2);
}

/*
.about-speechBubble::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #584c45 transparent transparent;
  translate: -100% -50%;
  transform: skew(0, 27deg);
  transform-origin: right;
}

.about-speechBubble::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  border-style: solid;
  border-width: 7.8px 15.5px 7.8px 0;
  border-color: transparent #fff transparent transparent;
  translate: -100% -50%;
  transform: skew(0, 27deg);
  transform-origin: right;
}
  */

/* contact */

.contact {
  height: auto;
  background-image: url(./images/Frame\ 4.svg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin-bottom: 100px;
}

.contact-title {
  cursor: default;
  user-select: none;
  height: auto;
  z-index: -999;
  text-align: right;
  padding:30px 0;
}

.contact-title__en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
}

.contact-title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  right:60%;
  top: 55%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.contact-title__box {
  position: relative;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.contact__form-contents {
  margin-bottom: 30px;
  text-align: center;
}

.contact__form-privacy {
  width:600px;
  height:auto;
  margin:0 auto;
  margin-bottom: 30px;
}

.contact__form-privacy-text {
  font-size: 0.8rem;
  font-family: var(--jpfont-2);
  margin-bottom: 15px;
  line-height: 1.4;
  letter-spacing: 0.05rem;
}

.contact__form-privacy-text--check {
  padding-left: 5px;
  font-family: var(--jpfont-2);

}

#name, #mail {
  text-align: left;
  width:600px;
  height:50px;
  padding:20px;
  background-color: var(--backgroundcolor);
  color:var(--basecolor);
  border: 1px solid var(--basecolor);
  border-radius: 3px;
}

  #message {
    text-align: left;
    padding:20px;
    height:130px;
    width:600px;
    background-color: var(--backgroundcolor);
    color:var(--basecolor);
    border: 1px solid var(--basecolor);
    border-radius: 3px;

  }

  #submit {
    width:600px;
    height:50px;
    background-color: #337ab7;
    color: var(--basefontcolor);
    border-radius: 3px;
    border: 1px solid #2e6da4;
  }

  .fa-paper-plane {
    font-size: 20px;
  }


/* footer */
.footer {
  height: 30vh;
  background-color: var(--basecolor);
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  gap:30px;
  padding: 50px 0 0 40px;
}

.footer-menu__content {
  font-family: var(--enfont);
  font-size: 20px;
  color:var(--basefontcolor);
}

.footer-copyright {
  display: block;
  font-family: var(--enfont);
  color: var(--basefontcolor);
  text-align: right;
}

/* page top */
.pagetop {
  display: flex;
  height: 50px;
  background-color: #999999;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}

.pagetop__text {
  font-family: var(--enfont-2);
  text-align: center;
  color:var(--basefontcolor);
  font-size: 15px;
  letter-spacing: 1.2px;
}

.fa-angle-up {
  font-size: 15px;

}

/* ==============================================================
  1200px以上 (Worksの配置用)
============================================================== */

@media (min-width:1200px) {
  .works__slider {
  justify-content: center;
  }
}
/* ==============================================================
  767px以下 (タブレット～スマホ)
============================================================== */

@media (hover: none) {
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background:var(--basefontcolor);
    opacity: 0.8;
  }
}


@media (max-width:767px) {

/* ===============================
    all                 
=============================== */
  .contact {
    margin-bottom: 80px;
  }


/* ===============================
    header area                  
=============================== */
  /* header all */
  header {
    justify-content: end;
  }

  /* header menu english */
  .header__menu-text--en {
    font-size: 18px;
    padding-top: 2px;
  }

  /* header nav menu */
  .header__menu {
    /* margin: 0 auto; */
  }

  /* header nav menu ul */
  .header__menu ul {
    /* justify-content: center; */
    gap: 20px;
  }

  /* ===============================
    hero area                  
  =============================== */

  /* hero title - PORTFOLIO - */
  .hero__title-main {
    font-size: 4rem;
    font-weight: bold;
  }

  .hero__title {
    top: -50px;
  }




  .works__title-box--en {  /* en title */
    font-size: 4rem;
  }

  .works__title-box--jp {
    font-size: 12px;
  }

  .works__title {
    padding-top:40px;
    padding-bottom: 15px;
  }

  .works__card {
    flex: 0 0 90%;
  }

  .works__slider {
    padding-top: 0;
  }

  /* skill */

  /* skill area all */
  .skill__area-all {
    padding-top: 50px;
    padding-bottom: 80px;

  }

  .skill__title__en {
    font-size: 4rem;
  }

  .skill__title__jp {
    font-size: 12px;
  }

  .akill__area-card {
    width:40%;
    grid-template-columns: 40px 1fr;
    column-gap: 5px;
  }

  .skill__area {
    width: 90%;
    gap: 40px;
    margin-top:-100px;
    z-index: 999;
    position: relative;
  }

  .akill__area-reki {
    font-size: 10px;
  }

  .akill__area-content {
    font-size: 10px;
  }

  .php {
    padding-left: 10px;
  }

  .mukou {
    display: none;
  }

  /* about */
  .about__title {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .about__title-en {
    font-size: 4rem;
  }

  .about__title-jp {
    font-size: 12px;
  }

  .about__content-name--jp---myoji,
  .about__content-name--jp---namae {
    font-size: 9px;
  }

  .about__content-name--en---namae,
  .about__content-name--en---namae {
    font-size: 15px;
  }

  .about__speechBubble {
    margin-top: 5vh;
  }

  .about__content-box--yajirushi{
    padding: 13px 0;
    margin: 0;
    background-position: center;
  }

  .about__content-box--love---content {
    font-size: 10px;
    margin-right: auto;
  }

  .about__content-box--love {
    margin-top: 15px;
    font-size: 10px;
  }

  .about__image-box {
    align-items: flex-end;
  }
  
  .about__content-box {
    flex-direction: column;
    gap:0;
    margin: 0 auto 100px;
  }

  .about__image {
    object-position: center;

  }



/* -- 吹き出し -- */
.about__speechBubble {
  position: relative;
  display: inline-block;
  padding: 16px;
  background-color: #ffffff;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: var(--jpfont-2);
  margin-top: 3vh;
}

/*
.about-speechBubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 19%;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #000000;
  translate: -50% -100%;
  transform: skew(26deg);
  transform-origin: bottom;
}

.about-speechBubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 19%;
  border-style: solid;
  border-width: 0 8.9px 17.8px 8.9px;
  border-color: transparent transparent #ffffff;
  translate: -50% -100%;
  transform: skew(26deg);
  transform-origin: bottom;
}
  */

/* contact */
.contact-title__en {
    font-size: 4rem;
}

.contact-title__jp {
  font-size: 12px;
}

.contact-title {
  max-width: 100%;
  height: auto;
  padding-bottom: 15px;
}

#name, #mail,#message,.contact__form-privacy,#submit {
  width: 400px;
  max-width: 80%;
}

#name, #mail, #submit {
  height: 35px;
  font-size: 12px;
}

#message {
  height: 100px;
  font-size: 12px;
}

.contact__form-privacy-text,
.contact__form-privacy-text--check {
  font-size: 0.6rem;
}

.contact__form-privacy {
  margin-bottom: 20px;
}

.contact__form-contents {
  margin-bottom: 20px;
}


/* footer */
.footer {
  height: auto;
  display: grid;
  justify-content: normal
}

.footer-menu {
  padding:0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height:10vh;
}

.footer-menu__content {
  font-size: 16px;
}

.footer-copyright {
  margin-top: 0;
  padding-left: 0;
}

/* page top */
.pagetop {
  height: 30px;
  position: static;
}

.fa-angle-up {
  font-size: 10px;
}

.pagetop__text {
  font-size: 10px;
}


}

/* ==============================================================
  480px以下 (小型スマホ用)
============================================================== */

@media (max-width:480px) {

/* ===============================
    header area                  
=============================== */
  /* header all */
  header {
    justify-content: center;
    padding: 0;
  }

  /* hero title - PORTFOLIO - */
  .hero__title-main {
    font-size: 3rem;
  }

  /* hero title - あなたの想いを輪郭に - */
  .hero__message-sub {
    font-size: 0.8rem;
  }



}













/* works sub area */
/* breadcrumb */
.breadcrumb__area-contents {
  display: flex;
  font-family: var(--enfont);
  gap:10px;
}

.fa-greater-than {
  color:var(--basecolor);
  font-size: 13px;
  vertical-align: middle;
}

.fa-solid .fas {
    font-weight: 100;
    font-size: 13px;
}

.works__sub-area {
  width:80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.works__sub-tags {
  padding-bottom: 2rem;
  justify-content: flex-end;
}

.works__sub-image {
  padding-bottom: 2rem;
}

.works__sub-area h2 {
    font-size: 1.3rem;
    font-family: "Playfair Display", "Noto Serif JP", serif;
    font-weight: 700;
    letter-spacing: 0.03rem;
}

.works__sub-area p {
    font-size: 1rem;
    font-family: "Playfair Display", "Noto Serif JP", serif;
    font-weight: 100;
    letter-spacing: 0.03rem;
    margin-bottom:20px;
}

.works__sub-title {
  border-bottom: 1px #333 solid; 
  padding-bottom:5px;
  margin-bottom:30px;
}

.works__sub-link-content {
  color:#1a0dab;
}