@charset "UTF-8";

/* ============================ */
/*   1. header                  */
/* ============================ */

:root {
  --headerheight: 80px;
  --worksheight: 200px;
  --skillheight: 218px;
  --basecolor: #584C45;
  --basefontcolor: #F0E7D7;
  --maincolor: #323232;
  --backgroundcolor: #F4F0E8;

  --enfont: "Cormorant Garamond", serif;
  --jpfont: "Shippori Mincho", serif;

  --enfont-2: "Playfair Display", serif;
  --jpfont-2: "Noto Serif JP", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--backgroundcolor);
}

.works, .skill, .about, .contact-title {
  max-width:1440px;
  width:100%;
  height:auto;
  margin: 0 auto;
}





/* menu */

header {
  max-width:100vw;
  height: var(--headerheight);
  padding:30px 40px 0 0;
  margin:0 auto;
  background-color: var(--basecolor);
}

.menu ul {
  display:flex;   /* menu横並び　*/
  flex-direction: row;
  justify-content: flex-end;
  gap:30px;
} 
.menu li a {
  display: flex;  /* 項目の縦並び */
  flex-direction: column;
  text-align: center;
  color: var(--basefontcolor);
}

.menu-works__en {
  font-size: 20px;  /* 英語表記 */
  padding-top:5px;
  font-family: var(--enfont);
}

.menu-works__jp {
  font-size: 10px;  /* 日本語表記 */
  font-family: var(--jpfont);
}

/* title */

.hero-title {
  position:absolute;  /* titleを真ん中に移動 */
  top:50vh;
  left:50vw;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--maincolor);
}

.hero-title p {
  font-size: 2rem;
  font-family: var(--enfont-2);
}

.hero-title h1 {
  font-size: 3rem;  /* titleのスタイル設定 */
  user-select:none;
  font-family: var(--enfont-2);
}

.hero-title h2 {
  font-size: 1rem;  /* sub titleのスタイル設定 */
  font-family: var(--jpfont-2);
}

/* background-image */
.hero__background {
  position: relative;
  height: calc(100vh - var(--headerheight));
}

.hero__image {
  width:100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  inset: 0;
  opacity: 0.4;

}

/* work  */
.works {
  height: 100vh;
  background-color: var(--backgroundcolor);
}

.works-title__en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
}

.works-title {
  height: var(--worksheight);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: default;
  user-select: none;
}

.works-title__box {
  position: relative;
  display: inline-block;
}

.works-title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left: 60%;
  top: 55%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.works-area {
  width: 80%;
  margin: 0 auto 0;
}

.works-area__slider {
  display: flex;
  gap:20px;
  padding-top: 50px;
  padding-bottom:40px; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline-start: calc((100% - 300px) / 2);
}

.works-area__slider-card {
  width: 300px;
  height: 500px;
  background-color:#FFF;
  flex: 0 0 45%; /* 1枚分 */
  scroll-snap-align: center;
  padding-bottom: 2rem;
  border: 1px solid var(--basecolor);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* skill */
.skill {
  min-height: 100vh;
  background-color: var(--backgroundcolor);
  position:relative;
}

.skill-title {
  cursor: default;
  user-select: none;
  height: var(--skillheight);
  z-index: -999;
}

.skill-title__en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
  writing-mode: vertical-rl;
}

.skill-title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left:60%;
  top: 20%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.skill-title__box {
  position: relative;
  display: inline-block;
}

.skill-area {
  width:80%;
  display: flex;
  gap: 30px;
  margin:-50px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-area__card {
  width:30%;
  display: grid;
  grid-template-columns: 100px 1fr;  /* 左列:固定、右列:可変 */
  grid-template-rows: 60px auto;     /* 上段:固定、下段:自動高さ */
}

.fa-brands {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  text-align: center;
  color:#222;
}

.fa-solid {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;
  text-align: center;
}

.skill-area__reki {
  grid-column: 2;
  grid-row: 1;
  font-family: var(--jpfont-2);
  font-size: 14px;
  align-self: center;
  color:#555;
}

.skill-area__content {
  grid-column: 1 / span 2;
  grid-row: 2;
  font-family: var(--jpfont-2);
  font-size: 12px;
  line-height: 1.7;
  color:#444;
}

/* about */
.about {
  height: 100%;
  background-color: var(--backgroundcolor);
}

.about-title__en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
}

.about-title {
  height: var(--worksheight);
  text-align: center;
  cursor: default;
  user-select: none;
}

.about-title__box {
  position: relative;
  display: inline-block;
}

.about-title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  left: 60%;
  top: 55%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}


.about-content__box {
  display: flex;
  width: 80%;
  height:auto;
  flex-direction: row;
  margin: 0 auto 50px;
  position: relative;
  gap: 100px;
}

.about-image__box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-content__box-group {
  display: flex;
  gap:10px;
  text-align: center;

  border-bottom: 1px var(--basecolor) double;
  padding: 30px 15px 8px 15px;
}

.about-content__name-jp__myoji,
.about-content__name-jp__namae {
  font-family: var(--jpfont-2);
  color: #555;
  font-size: 13px;
}

.about-content__name-en__namae,
.about-content__name-en__namae {
  font-family: var(--enfont-2);
  font-size: 20px;
  color: #555;
}

.about-image {
  width: 150px;
  height: auto;
  border-radius: 50%;

}


/* -- 吹き出し -- */

.about-speechBubble {
  position: relative;
  display: inline-block;
  padding: 16px;
  border: 1px solid #584c45;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: var(--jpfont-2);
}

.about-speechBubble::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #584c45 transparent transparent;
  translate: -100% -50%;
  transform: skew(0, 27deg);
  transform-origin: right;
}

.about-speechBubble::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  border-style: solid;
  border-width: 7.8px 15.5px 7.8px 0;
  border-color: transparent #fff transparent transparent;
  translate: -100% -50%;
  transform: skew(0, 27deg);
  transform-origin: right;
}

/* contact */

.contact {
  height: 100vh;
  background-image: url(./images/Frame\ 4.svg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.contact-title {
  cursor: default;
  user-select: none;
  height: var(--skillheight);
  z-index: -999;
  text-align: right;
}

.contact-title__en {
  font-size: 7rem;
  display: block;
  color: #FFF;
  opacity: 0.5;
  font-kerning: normal;
  font-family: var(--enfont-2);
  writing-mode: vertical-rl;
}

.contact-title__jp {
  font-family: var(--jpfont-2);
  position:absolute;
  right:60%;
  top: 20%;
  white-space: nowrap;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.contact-title__box {
  position: relative;
  display: inline-block;
}


/* footer */
.footer {
  height: 30vh;
  background-color: var(--basecolor);
}

.footer-menu {
  display: flex;
  gap:30px;
  padding:80px 0 0 40px;
}

.footer-menu__content {
  font-family: var(--enfont);
  font-size: 20px;
  color:var(--basefontcolor);
}

.footer-copyright {
  padding-left:40px;
  display: block;
  margin-top:80px;
  font-family: var(--enfont);
}

/* --------------------------- */
/*  1440px以下                  */
/* --------------------------- */

@media (max-width:767px) {
  
  /* all */
  .skill, .contact {
    padding:0 20px;
  }

  /* header */
  header {
    padding: 0 0 0 0;
    display: grid;
    align-items: center;
  }

  .menu {
    margin: 0 auto;
  }

  .menu ul {
    justify-content: center;
  }

  /* works */


  .works-title__en {  /* en title */
    font-size: 6rem;
  }

  .works-title {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .works-area__slider-card {
    flex: 0 0 90%;
  }

  .works-area__slider {
    padding-top: 0;
  }

  /* skill */
  .skill-title__en {
    font-size: 6rem;
  }

  .skill-area__card {
    width:40%;
    grid-template-columns: 40px 1fr;
    column-gap: 5px;
  }

  .skill-area {
    width: 90%;
    gap: 40px;
    margin-top:-100px;
    z-index: 999;
    position: relative;
  }

  .skill-area__reki {
    font-size: 10px;
  }

  .skill-area__content {
    font-size: 10px;
  }

  .php {
    padding-left: 10px;
  }

  .mukou {
    display: none;
  }

  /* about */
  .about-title {
    padding-top: 20px;
  }

  .about-title__en {
    font-size: 6rem;
  }

  .about-image__box {
    position:initial;
    gap: 30px;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
  }

  .about-image {
    width: 100px;
  }

  .about-content__name-jp__myoji,
  .about-content__name-jp__namae {
    font-size: 9px;
  }

  .about-content__name-en__namae,
  .about-content__name-en__namae {
    font-size: 18px;
  }

  .about-speechBubble {
    margin-top: 5vh;
  }

  .about-content__box-group {
    border-bottom: 1px var(--basecolor) double;
    padding:0 15px 8px 15px;
  }
  
  .about-content__box {
    flex-direction: column;
    gap:0;
    margin-top:-50px;
  }

/* -- 吹き出し -- */
.about-speechBubble {
  position: relative;
  display: inline-block;
  padding: 16px;
  border: 1px solid #584c45;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  font-family: var(--jpfont-2);
}

.about-speechBubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 19%;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #000000;
  translate: -50% -100%;
  transform: skew(26deg);
  transform-origin: bottom;
}

.about-speechBubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 19%;
  border-style: solid;
  border-width: 0 8.9px 17.8px 8.9px;
  border-color: transparent transparent #ffffff;
  translate: -50% -100%;
  transform: skew(26deg);
  transform-origin: bottom;
}

/* contact */
.contact-title__en {
    font-size: 6rem;
}

.contact-title {
  margin-right: -20px;
}

/* footer */
.footer {
  height: auto;
  display: grid;
}

.footer-menu {
  padding:0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height:10vh;
}

.footer-menu__content {
  font-size: 16px;
}

.footer-copyright {
  margin-top: 0;
  padding-left: 0;
}


}